# dependencies
node_modules

# builds
dist

# vercel
.vercel

# env files
.env
.env.*

# logs
*.log

#3DCubicWords
3DCubicWords

#ZIP-3dcubicwords-full-integration.zip
3dcubicwords-full-integration.zip